/.idea/.gitignore
/setup-exercise/.idea/.gitignore
/.idea/dataSources.xml
/.idea/gis-2425.iml
/.idea/misc.xml
/.idea/modules.xml
/setup-exercise/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/setup-exercise/.idea/inspectionProfiles/Project_Default.xml
/setup-exercise/.idea/setup-exercise.iml
/.idea/vcs.xml
/setup-exercise/.idea/vcs.xml
/setup-exercise/backend/venv/
